@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background: #f7f7f9;
  margin: 0;
}

h1 {
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
  margin-bottom: 0;
}

h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 0;
}

p {
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  width: 134px;
  height: 48px;
  padding: 12px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  color: #396df2;
  background-color: #fff;
  margin: 10px 0;
  cursor: pointer;
}

button:hover {
  background: #6070ff;
  color: #fff;
  border: 1px solid #396df2;
}

/* Shared Classes */

.connect {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  margin: 0;
}

.connection-button {
  color: #7f8cff;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons img {
  height: 18px;
  width: 15px;
}

/* NABAR */

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background: #fff;
}

/* HEADLINE */

header {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 12px;
  height: 550px;
  background: #fff;
  background-image: url("images/headline.png");
  background-repeat: no-repeat;
  padding: 20px;
  border-bottom-left-radius: 5em 4em;
}

header h1 {
  margin-top: 80px;
}

header p {
  width: 90%;
}

/* MAIN */

/* PROJECTS */

.projects {
  display: grid;
  grid-gap: 88px;
  padding: 114px 24px;
}

.card {
  display: flex;
  gap: 12px;
  flex-direction: column;
  padding: 16px;
  background: #fff;
  border-radius: 16px;
}

.card-detail {
  display: flex;
  width: 236px;
  height: 32px;
  align-items: center;
  gap: 10px;
}

.card-detail img {
  width: 8px;
  height: 8px;
}

.card-detail span {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.card-tags {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 203px;
  height: 24px;
}

.card-tags p {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  color: #6070ff;
}

/* MIDDLE SECTION */

.middle {
}

/* ABOUT */

.about {
  display: grid;
  grid-gap: 24px;
  padding: 114px 24px;
  background: #fff;
  border-top-right-radius: 5em 4em;
}

/* UPPER */

.upper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.upper .about-button {
  width: 154px;
}

/* BOTTOM */

.bottom .categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom .list .language-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.list .language-list .language-item {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #f7f7f9;
  border-radius: 8px;
  padding: 12px;
}

.list .language-list .language-item p {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.bottom hr {
  height: 1px;
  background: #dfe1e6;
  border-style: none;
}

/* CONTACT-ME */

.contact {
  display: flex;
  flex-direction: column;
  gap: 54px;
  padding: 114px 24px;
  height: 550px;
  background: #6070ff;
  background-image: url("images/contact.png");
  background-repeat: no-repeat;
  background-size: 265px 709.17px;
  background-position: right;
  border-top-left-radius: 5em 4em;
}

.contact .contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.contact .contact-text h2 {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  line-height: 52px;
}

.contact .contact-text p {
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  width: 327px;
  text-align: center;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact form input,
.contact form textarea {
  font-family: "Poppins", sans-serif;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 10px;
}

.contact form input {
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

.contact form textarea {
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  height: 150px;
}

.contact form button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #6070ff;
  width: 140px;
}
