@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  background: #f7f7f9;
  margin: 0;
  min-width: 375px;
}

h1 {
  font-size: 2.5rem;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
  margin-bottom: 0;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 44px;
  color: #172b4d;
  margin: 0;
}

p {
  font-size: 0.9rem;
  line-height: 24px;
  color: #344563;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  width: 134px;
  height: 48px;
  padding: 12px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  color: #396df2;
  background-color: #fff;
  margin: 10px 0;
  cursor: pointer;
}

button:hover {
  background: #6070ff;
  color: #fff;
  border: 1px solid #396df2;
}

hr {
  height: 1px;
  background: #dfe1e6;
  border-style: none;
}

/* Shared Classes */

.connect {
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0;
  margin: 0;
}

.connection-button {
  color: #7f8cff;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons img {
  height: 18px;
  width: 15px;
}

/* MOBILE-MENU-POPUP */

.mobile-menu-background img {
  position: relative;
  left: 290px;
  width: 30px;
  height: 30px;
}

.mobile-menu-background ul li {
  margin-bottom: 20px;
}

.mobile-menu-background ul li a {
  color: #fff;
}

.popUp {
  flex-direction: column;
  gap: 15px;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  padding: 15px;
  position: fixed;
  z-index: 1;
  background: #6070ff;
  mix-blend-mode: multiply;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
}

/* BLUR */

.blur {
  filter: blur(8px);
}

/* CARDS POPUP */

.card-pop {
  flex-direction: column !important;
  align-items: flex-start !important;
  z-index: 2;
}

.card-projectName {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.card-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.card-actions .actions {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 1rem;
  padding: 5px;
}

.image-wrapper {
  text-align: center;
  width: 100%;
}

.cards-blur {
  position: fixed;
  z-index: 1;
  background: #c1c7d0;
  mix-blend-mode: multiply;
  background-image: url('images/contact-desktop.png');
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
}

/* NABAR */

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background: #fff;
  z-index: -1;
}

nav .logo {
  transition: transform 1s;
  transform: rotate(360deg);
}

.hidden {
  display: none;
}

/* HEADLINE */

header {
  height: 550px;
  background: #fff;
  background-image: url('images/headline.png');
  border-bottom-left-radius: 5em 4em;
  z-index: -1;
}

header .header-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  width: 90%;
}

header h1 {
  width: 70%;
  margin-top: 80px;
}

header p {
  width: 90%;
}

/* MAIN */

/* PROJECTS */

.projects {
  display: grid;
  grid-gap: 88px;
  padding: 7.125em 1.5em;
}

.card {
  display: flex;
  gap: 0.8em;
  flex-direction: column;
  padding: 1em;
  background: #fff;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px 0;
  transition: box-shadow 2s;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 18px 50px -10px;
}

.card .wallpaper {
  width: 295px;
  height: 220px;
  transition: transform 2s;
}

.card .wallpaper:hover {
  transform: scale(0.9);
}

.card .card-part2 {
  display: flex;
  gap: 0.8em;
  flex-direction: column;
}

.card-detail {
  display: flex;
  width: 236px;
  height: 32px;
  align-items: center;
  gap: 0.5em;
}

.card-detail p {
  font-size: 0.8rem;
}

.card-detail img {
  width: 8px;
  height: 8px;
}

.card-detail span {
  font-weight: 600;
  font-size: 0.7rem;
  line-height: 16px;
  color: #7a869a;
}

.card-lower {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-tags {
  display: flex;
  gap: 0.5em;
  align-items: center;
  width: 203px;
  flex-wrap: wrap;
}

.card-tags p {
  font-weight: 500;
  font-size: 0.6rem;
  line-height: 16px;
  background: #ebebff;
  border-radius: 8px;
  padding: 0.2em 0.7em;
  color: #6070ff;
}

/* MIDDLE SECTION */

.middle {
  background: #fff;
  border-top-right-radius: 5em 4em;
}

/* ABOUT */

.about {
  display: grid;
  grid-gap: 1.3em;
  padding: 7.125em 1.5em;
  background: #fff;
  border-top-right-radius: 5em 4em;
}

/* UPPER */

.upper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.upper .about-button {
  width: 154px;
}

/* BOTTOM */

.bottom .categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom .list .language-list {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

.list .language-list .language-item {
  display: flex;
  align-items: center;
  gap: 0.9em;
  background: #f7f7f9;
  border-radius: 8px;
  padding: 0.7em;
}

.list .language-item p {
  font-weight: 500;
  line-height: 20px;
}

/* CONTACT-ME */

.contact {
  display: flex;
  flex-direction: column;
  gap: 3.375em;
  padding: 7.125em 1.5em;
  height: 550px;
  background: #6070ff;
  background-image: url('images/contact.png');
  background-repeat: no-repeat;
  background-size: 265px 709.17px;
  background-position: right;
  border-top-left-radius: 5em 4em;
}

.contact .contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9em;
}

.contact .contact-text h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  line-height: 52px;
  transition: transform 2s;
}

.contact .contact-text p {
  font-size: 1.25rem;
  line-height: 28px;
  color: #ebebff;
  width: 327px;
  text-align: center;
  transition: transform 2s;
}

.contact .contact-text p:hover,
.contact .contact-text h2:hover {
  transform: translate(10px);
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 0.9em;
}

.contact form input,
.contact form textarea {
  font-family: 'Poppins', sans-serif;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 0.625em;
}

.contact form input {
  font-size: 1.1rem;
  line-height: 20px;
  color: #172b4d;
}

.contact form textarea {
  font-size: 0.9rem;
  line-height: 24px;
  color: #b3bac5;
  height: 150px;
}

.contact form button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  color: #6070ff;
  width: 140px;
}

.contact form button:hover {
  background: #396df2;
  color: #fff;
  border: 1px solid #6070ff;
}

small {
  line-height: 14px;
  text-align: center;
  color: #ff8aae;
}


/* DESKTOP-VERSION */

@media only screen and (min-width: 1024px) {
  /* NABAR */

  nav {
    padding: 0.938em 3.125em;
  }

  .hidden {
    display: flex;
    align-items: center;
  }

  .hidden li {
    display: inline;
    margin-right: 1.25em;
  }

  .hidden li a {
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 20px;
    color: #344563;
  }

  nav .burger-menu {
    display: none;
  }

  /* HEADLINE */

  header {
    display: flex;
    height: 746px;
    background-image: url('images/headline-desktop.png');
    padding: 1.25em;
  }

  header .header-content {
    gap: 1.375em;
    width: 70%;
  }

  header h1 {
    margin-top: 0;
  }

  /* MAIN */

  /* PROJECTS */
  .card {
    flex-direction: row;
    width: 80%;
    margin: auto;
    justify-content: space-between;
  }

  .card .wallpaper {
    width: 30vw;
    height: 100%;
  }

  .card .card-part2 {
    padding: 1.5em;
  }

  /* CARDS POPUP */
  .card-pop {
    flex-direction: row;
    width: 60%;
  }

  .big-width {
    width: 100% !important;
    height: 386px !important;
  }

  .card .divided {
    flex-direction: row;
  }

  .actions-desk {
    justify-content: space-between !important;
    gap: 0 !important;
    font-size: 0.7rem !important;
    padding: 2px !important;
    height: 35px;
    width: 100px;
  }

  .card .child-left {
    order: -1;
  }

  /* MIDDLE SECTION */

  /* ABOUT */

  .about {
    grid-template-columns: 50% 50%;
    padding: 8.875em;
  }

  /* UPPER */

  .upper {
    gap: 2.188em;
  }

  .upper .card-description {
    width: 80%;
  }

  /* CONTACT-ME */

  .contact {
    background-image: url('images/contact-desktop.png');
    background-repeat: repeat;
    background-size: 1290.66px 718.7px;
  }

  .contact .contact-text {
    width: 50%;
    margin: auto;
  }

  .contact .contact-text p {
    width: 90%;
  }

  .contact form {
    width: 40%;
    margin: auto;
  }

  .contact form button {
    margin: auto;
  }
}

/* MIDDLE and SMALL-SCREENS */

@media only screen and (min-width: 376px) and (max-width: 1023px) {
  /* NABAR */

  nav {
    padding: 0.638em 1.125em;
  }

  .hidden {
    display: flex;
    align-items: center;
  }

  .hidden li {
    display: inline;
    margin-right: 0.7em;
  }

  .hidden li a {
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 20px;
    color: #344563;
  }

  nav .burger-menu {
    display: none;
  }

  /* HEADLINE */

  header {
    display: flex;
    height: 746px;
    background-image: url('images/headline-desktop.png');
    padding: 1em;
  }

  header .header-content {
    gap: 1.375em;
    width: 80%;
  }

  header h1 {
    margin-top: 0;
  }

  /* MAIN */

  /* PROJECTS */
  .card {
    flex-direction: column;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
  }

  .card .first-child {
    width: 100%;
  }

  .card .wallpaper {
    width: 100%;
    height: 486px;
  }

  .card .card-part2 {
    padding: 1em;
  }

  /* CARDS POPUP */
  .card-pop {
    width: 80%;
  }

  .big-width {
    height: 386px !important;
  }

  .card .divided {
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* MIDDLE SECTION */

  /* ABOUT */

  .about {
    padding: 4.875em;
  }

  /* UPPER */

  .upper {
    gap: 1.188em;
  }

  /* CONTACT-ME */

  .contact {
    height: auto;
    padding: 2.875em;
    background-image: url('images/contact-desktop.png');
    background-repeat: repeat;
    background-size: 1290.66px 718.7px;
  }

  .contact .contact-text {
    margin: auto;
  }

  .contact .contact-text p {
    width: 90%;
  }

  .contact form {
    margin: auto;
    width: 90%;
  }

  .contact form button {
    margin: auto;
  }
}
